:root{
    --cool-gray:#D7D7D9;
    --dark-green:#197340;
    --light-green:#30BF6E;
    --teal:#29A65F;
    --black:#0D0D0D;
    --text:#666666;
    --bg:#1D1E20;
}

body{
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: var(--bg);
}

figure{
    display: flex;
    justify-content: space-evenly;
}


img{
    max-width: 100%;
}

header{
    position: absolute;
}

h1{
    padding-top: 73vh;
    text-align: center;
    font: normal normal 800 42px/52px Montserrat;
    letter-spacing: 0px;
    color: var(--cool-gray);
    opacity: 1;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    margin: 0;
}

h2{
    text-align: center;
    text-decoration: underline;
    font: normal normal bold 32px/39px Montserrat;
    letter-spacing: 0px;
    color: var(--cool-gray);
    opacity: 1;
}

h3{
    text-align: left;
    font: normal normal bold 32px/39px Montserrat;
    letter-spacing: 0px;
    color: var(--teal);
    opacity: 1;
    margin: 1%;
}

h4{
    text-align: left;
    font: normal normal bold 20px/27px Noto Sans;
    letter-spacing: 0px;
    color: var(--light-green);
    opacity: 1;
    margin: 8px 0;
}

h5{
    font-family: Helvetica, sans-serif;
    margin: 0%;
    margin-bottom: 22px;
    color: var(--text);
    font-size: 18px;
}

h6{
    text-align: left;
    text-decoration: underline;
    font: normal normal bold 14px/19px Noto Sans;
    letter-spacing: 0px;
    color: var(--text);
    opacity: 1;
    margin: 5% 0 0 5% ;

}

p{
    text-align: left;
    font-family: Helvetica, sans-serif;
    color: var(--text);
    font-size: 16px;
    margin-left: 5%;
}

table{
    border: none;
    color: var(--text);
    margin-left: 5%;
    text-align: left;
}

.tab{
    margin-left: 5%;
}


.card{
    max-width: 90vw;
    padding: 10vw;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    margin: 5vw;
    border-radius: 10px;
    align-items: flex-start;
    align-content: flex-start;
}

.card ul{
    list-style: none;
    color: var(--text);
    text-align: left;
    padding-left: 5%;
}

.card li {
    padding-bottom: 0.5rem;
    text-align: left;
    font: normal normal normal 18px Noto Sans;
    letter-spacing: 0px;
    opacity: 1;

}

.card li::before{
    content: "+";
    color: var(--teal);
    margin-left: -20px;
    margin-right: 10px;
}

.card hr{
    color: var(--dark-green);
    border-color: var(--dark-green);
    width: 55%;
    border-radius: 0;
    margin-left: -5%;
    margin-bottom: 40px;
}




.socialMedia{
    width: 15vw;
}

.flex{
    display: flex;
}
.alignBottom{
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
}

#languages1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 5vw;
    grid-auto-rows: auto;
}

.gridItem{
    max-width: 100%;
    padding: 0;
    margin: 0%;
}

.gridItem p{
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin: auto 0%;
}


#profile{
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: transparent url("pictures/ylioppilaskuva.png") 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
}
